body {
    width: 100%;
    height: 100%;
    background-image:url('https://imgs.vietnamnet.vn/Images/2017/05/14/23/20170514235408-samsung-flip-phone.jpg');
    /* background-repeat:no-repeat; */
}

.dana {
    text-align: center;
}
.container-fluid {
    background-color: #2f3640;
}

#title {
    color: white;
}

.address {
    text-align: center;
}

#search {
    display: flex;
}

.navbar {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
    color: #f5f6fa;
    padding: 1% ;
    padding-bottom: 2% ;
}